*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.container{
    display: flex;
    min-width: 100%;
    min-height: 100%;
    flex-flow: column;
    font-family: 'Roboto', sans-serif;
    background: url('img/supermarket.jpeg');
    background: #384D48;
    background-size: cover;
}

.lists {
    justify-content: center;
    display: flex;
    flex: 1;
    width: 100%;
}

.lunchbox_title{
    font-size: 3rem;
    color: #E2725B;
    text-shadow: 2px 2px 2px #222222;
    margin-bottom: 1rem;

}

.supermarket{
    font-size: 1.5rem;
    display: inline-block;
    text-align: center;
    color: #f3f3f3;
    text-shadow: 1px 1px 1px black;
}


.note {
    background-image: url("../img/note.jpeg");
    background-size: cover;
}


 .food_list {
	display: flex;
	flex-flow: column;
	flex: 1;
	min-height: 650px;
	max-width: 650px;
	height: 100%;
	background-color:#CC7A5B;
	margin: 0 15px;
	padding: 8px;
    transition: all 0.2s linear;
    
}

.food_item {
    background-color: #384D48;
    color: #f3f3f3;
    text-shadow: 1px 1px 1px black;
    font-weight: bold;
	border-radius: 8px;
	padding: 10px 10px;
	text-align: center;
    margin: 4px 0px;
    width: 100%;
}



/* drag and drop functionality */


.hold {
    border: solid #ccc 4px;
}


.hovered {
    background: #f4f4f4;
    border-style: dashed;
}

.invisible {
    display: none;
}

.container{
    display: flex;
    flex-direction: column;
}

.box_1{
  display: flex;
  flex-direction: column;

}

/* form */

.form {
    text-align: center;
    display: block;
}

form input[type=text] {
    margin-bottom: 50px;
    width: 30vw;
    border-radius: 8px;
    background: #f3f3f3;
    border: solid 2px #ff8d27;
    padding: .5rem;
}

.input_group {
    display: block;
    text-align: center;
}

/* buttons */

.btn_submit{
    padding: .5rem;
    border-radius: 8px;
    background: #E2725B;
    color: #f3f3f3;
}

.btn_submit:hover{
    background: black;;
   }
   

.button_container{
    text-align: center;
}




.clear_btn{
    margin-top: 50px;
    font-weight: bold;
    color: #F3f3f3;
    width: 20vw;
    padding: 1rem;
    border-radius: 10px;
    background-color: #E2725B;
}

.clear_btn:hover{
    background: #f16b44;
    opacity: .4;
}

.clear_btn:active{
    transform: translateY(2px);
}
/* feedback */

.danger{
    display: none;
    font-size: 1.5rem;
    text-align: center;
    border: solid 2px red;
    background-color: red;

}

.success{
    display: none;
    font-size: 1.5rem;
    text-align: center;
    border: solid 2px green;
    background-color: green;
}
/* delete and line buttons */

.fa-edit{
    color: red;
}

.fa-edit:hover{
    color: black;
}

.fa-check-circle{
    color: green;
}

.completed {
    text-decoration: line-through;
  }

.fa-check-circle:hover{
    color: black;
}

